/* ---------project------------*/

.project {
  padding: 8rem 3rem;
  padding-bottom: 13rem;

  @media only screen and (max-width: $bp-small) {
    // margin-bottom: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'metropolis-bold';
    color: #404040;
  }

  &__business {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(#7a50ff, 0.17);
    width: fit-content;
    border-radius: 0.8rem;
    margin-top: 1rem;

    @media only screen and (max-width: $bp-xsmall) {
      margin-top: 2.5rem;
    }

    &--img {
      margin-right: 1rem;

      &--2,
      &--3 {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &--text {
      color: #7a50ff;
    }
  }

  &__left-part {
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 13rem;
    }
  }
}

.images-wrapper {
  & .swiper-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    @media only screen and (max-width: $bp-xsmall) {
      height: 50vh;
      width: 100%;
    }
    @media only screen and (min-width: $bp-xlarge) {
      height: 40vh;
    }
  }

  & .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &.swiper-slide-next {
      opacity: 1;
      width: 45%;

      @media only screen and (max-width: 767px) {
        width: auto;
        opacity: 0;
      }
    }
  }

  &__img {
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-xsmall) {
      width: 100%;
    }
    @media only screen and (min-width: $bp-xlarge) {
      width: 100%;
    }

    &--1 {
      background-image: url(../../img/project1.1.png);
    }
    &--2 {
      background-image: url(../../img/project1.2.png);
    }
    &--3 {
      background-image: url(../../img/projects-3.2.jpg);
    }
  }
}

/* ---------------------------------------------------- */

.swiper-slide {
  transition: 0.5s;
}

.images-wrapper .swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.images-wrapper .swiper-slide:not(.swiper-slide-active, .swiper-slide-next) {
  opacity: 0;
}

.images-wrapper .swiper-slide.swiper-slide-next {
  opacity: 1;
  width: 40%;
  @media only screen and (max-width: $bp-small) {
    opacity: 0;
  }
}

.projectSwiper .swiper-pagination {
  bottom: 0rem;

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

/* ---xx------project---------------xx----------------------------- */
